
body {
  margin: 0;
  padding: 0;
  color: #343434;
  font-family: 'Noto Sans JP', sans-serif;
}

a,
.slick-next,
.slick-prev {
  color: #333;
  text-decoration: none;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
}

a:hover,
.slick-next:hover,
.slick-prev:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: "alpha(opacity=75)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  cursor: pointer;
}

p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h2.ttl {
  margin: 0 0 40px;
  padding: 50px 0 0;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 25px;
  text-align: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

h2.ttl .smoll {
  color: #848484;
  font-weight: 700;
  font-size: 11px;
}

.iblock {
  display: inline-block;
}

/* --------------- header --------------- */

#header {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #4cb9bf;
}

.col_header {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col_header .navi_header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.col_header .navi_header .sp_toggle {
  width: calc( 100% - 132px );
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navi_header h1,
.col_header .navi_header a {
  margin: 0 10px 0 0;
  padding: 0 5px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.navi_header h1,
.col_header .navi_header a span {
  margin: 0;
  padding: 5px 0;
  line-height: 1.2;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.navi_header h1 {
  margin-left: 10px;
}

.col_header .navi_header #menubtn {
  display: none;
}

/* --------------- main --------------- */

.main_fadeup img {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 80px 0 30px;
  display: block;
  text-align: center;
  animation-name: fadeup;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrap .col {
  padding: 0 0 50px;
}

.wrap .col:nth-child(odd) {
  background-color: #f7f7f7;
}

.wrap .inner {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 50px;
}

/* --------------- profile --------------- */

 .flex {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex img {
  width: 220px;
  margin: 0 30px 0 0;
  display: flex;
}

.up {
  box-sizing: border-box;
  opacity: 0;
  transition: all 1s ease;
}

.up.show {
  opacity: 1;
  transform: none;
}

.op {
  transform: translate(0, 100px);
}

/* --------------- skill --------------- */

.skill_bar {
  position: relative;
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
}

.skill_bar .inner_bar {
  border-radius: 5px;
  padding: 10px;
  background: #78b9bd;
  color: white;
  width: 10%;
  position: relative;
  height: 24px;
  transition: width 3s ease-in-out;
}

.skill_bar .inner_bar .percent {
  float: right;
}

.skill_bar .inner_bar.html {
  background: #3c8a94;
}

.skill_bar .inner_bar.js {
  background: #5db0d0;
}

.skill_bar .inner_bar.illust {
  background: #d57737;
}

.skill_bar .inner_bar.wordPress {
  background: #e9aa7f;
}

/* --------------- coding --------------- */


.slider {
  width: 94%;
  margin: 0 auto;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider .slick-slide {
  margin: 0 10px;
}

.slick-prev,
.slick-next {
  width: 15px;
  height: 15px;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  position: absolute;
  top: 42%;
  outline: none;
}

.slick-prev {
  left: -30px;
  transform: rotate(-135deg);
}

.slick-next {
  right: -30px;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 0px;
  height: 11px;
  display: block;
  border-radius: 50%;
  background: #ccc;
  border: none;
}

.slick-dots .slick-active button{
  background: #333;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after{
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  width: 100%;
  margin: 0 0 10px;
  border: solid 1px #c5c5c5;
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.list_coding {
  margin-left: 10px;
}

ul.list_coding li {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
  list-style: none;

}

ul.list_coding li * {
  text-indent: 0;
}

ul.list_coding a {
  color: #4894a9;
  text-decoration: underline;
}

/* --------------- illustration --------------- */

.flex_illust {
  max-width: 960px;
  margin: auto;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box_illust {
  width: 220px;
  height: 220px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

.box_illust img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
}

.gg-box {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  grid-auto-rows: 200px;
  grid-gap: 8px
}

.gg-box img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.02);
  border-radius: 10px
}

.gg-box img:hover{
  opacity: 0.8
}

#gg-screen{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(116 116 116 / 80%);
  z-index: 10;
  text-align: center
}

#gg-screen .gg-image {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center
}

#gg-screen .gg-image img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto
}

.gg-bt {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.6);
  color: #222;
  text-align: center;
  line-height: 47px;
  vertical-align: middle;
  cursor: pointer;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  font-size: 25px;
  border: 1px solid rgba(0,0,0,0.05);
  box-sizing: border-box;
  padding-left: 2px;
  position: fixed;
  bottom: 10px
}

.gg-bt:hover {
  background: rgba(255,255,255,0.8);
  border: 1px solid rgba(0,0,0,0.5)
}

.gg-close {top: 10px}

.gg-close,.gg-next{right: 10px}

.gg-prev{right: 61px}

.gg-prev,.gg-next{bottom: 10px}



@media print,screen and ( max-width: 1070px ) {

  .navi_header h1, .col_header .navi_header a {
    margin: 0 8px 0 0;
  }

  .box_illust {
    width: 27vw;
    height: 27vw;
  }

  .flex_illust {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .box_illust img {
    width: 27vw;
  }

}

/* ----------------------- end max 1070px ----------------------- */



@media print,screen and ( max-width: 700px ) {


  .col_header .navi_header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .col_header .navi_header .sp_toggle {
    width: 70vw;
    max-width: 400px;
    padding: 10px 5% 20px;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    display: none;
    overflow: auto;
    position: absolute;
    top: 100%;
    right: 0;
  }

  .col_header .navi_header a {
    padding: 8px 0;
    text-align: left;
    color: #fff;
    display: block;
  }

  .col_header .navi_header .sp_toggle > a {
    margin: 0;
    position: relative;
    z-index: 0;
  }

  .col_header .navi_header .sp_toggle > a:before {
    content: "";
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(135deg);
    position: absolute;
    top: calc( 50% - 4px );
    right: 5px;
  }

  .col_header .navi_header #menubtn {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    z-index: 0;
  }

  #menubtn span {
    width: 28px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 6px;
  }

  #menubtn span:first-child {
    top: 7px;
    -webkit-animation: btn-bar01 .75s forwards;
    animation: btn-bar01 .75s forwards;
  }

  @-webkit-keyframes btn-bar01 {
    0% {
      -webkit-transform: translateY(10px) rotate(45deg);
    }
    50% {
      -webkit-transform: translateY(10px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
    }
  }
  @keyframes btn-bar01 {
    0% {
      transform: translateY(10px) rotate(45deg);
    }
    50% {
      transform: translateY(10px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }

  .col_header #menubtn span:nth-child(2) {
    top: 17px;
    transition: all .25s .25s;
    opacity: 1;
  }

  .col_header #menubtn span:nth-child(3) {
    top: 27px;
    -webkit-animation: btn-bar03 .75s forwards;
    animation: btn-bar03 .75s forwards;
  }

  @-webkit-keyframes btn-bar03 {
    0% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
    }
    50% {
      -webkit-transform: translateY(-10px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
    }
  }
  @keyframes btn-bar03 {
    0% {
      transform: translateY(-10px) rotate(-45deg);
    }
    50% {
      transform: translateY(-10px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }

  #menubtn.open span:nth-of-type(1) {
    -webkit-animation: active-btn-bar01 .75s forwards;
    animation: active-btn-bar01 .75s forwards;
  }
  @-webkit-keyframes active-btn-bar01 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(10px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(10px) rotate(45deg);
    }
  }
  @keyframes active-btn-bar01 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(10px) rotate(0);
    }
    100% {
      transform: translateY(10px) rotate(45deg);
    }
  }
  #menubtn.open span:nth-of-type(2) {
    opacity: 0;
  }
  #menubtn.open span:nth-of-type(3) {
    -webkit-animation: active-btn-bar03 .75s forwards;
    animation: active-btn-bar03 .75s forwards;
  }
  @-webkit-keyframes active-btn-bar03 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(-10px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
    }
  }
  @keyframes active-btn-bar03 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-10px) rotate(0);
    }
    100% {
      transform: translateY(-10px) rotate(-45deg);
    }
  }

  .slick-prev {
    left: -20px;
  }
  .slick-next {
    right: -20px;
  }

  .box_illust {
    width: 28vw;
    height: 28vw;
    margin: 1vw;
  }

  .box_illust img {
    width: 25vw;
  }

  .inner_profile .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .inner_profile .flex img {
    margin: 0 0 20px 0;
  }

  .gg-box{
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-auto-rows: 150px;
    grid-gap: 6px
  }

}

/* ----------------------- end max 700px ----------------------- */



@media print,screen and ( max-width: 450px ) {

  .slick-prev {
    left: -20px;
  }
  .slick-next {
    right: -20px;
  }

  .box_illust {
    width: 40vw;
    height: 40vw;
    margin: 2vw;
  }

  .gg-box{
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-auto-rows: 100px;
    grid-gap: 4px
  }

}

/* ----------------------- end max 450px ----------------------- */
